doctype html
html
	head
		title= title
		link(rel="stylesheet" href="/stylesheets/bootstrap.min.css" media="screen")
		link(rel='stylesheet' href='/stylesheets/style.css')
		script(src='/js/runtime.js')
		script(src='/js/templates/templates.js')
	body
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/nav.js')
		.container
			nav.nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
				.navbar-header
					a.navbar-brand(href='/') TimsList
				form.navbar-form.navbar-right(role='search' method="get" action="/users/logout")
					button.btn.btn-default(type="submit" aria-label="Right Align" value="logout")
						span.glyphicon.glyphicon-log-out(aria-hidden="true")
							
		block content

